{
	"semi": true,
	"singleQuote": true,
	"useTabs": true,
	"printWidth": 80,
	"arrowParens": "always",
	"trailingComma": "none",
	"bracketSpacing": true,
	"jsxBracketSameLine": true,
	"endOfLine": "lf"
}
